.form {
  width: 100%;
  padding: 1rem;

  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 12px;
  border: 1px solid #EDC844;

  background-color: #1E1E1E;
}

.textInput {
  color: #e1e1e1;
  font-size: 1.25rem;
  width: 100%;

  &::placeholder {
    color: #e1e1e1;
  }
}